.Calculator {
  min-width: 1000px;
  border: 1px black solid;
}
input{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
}
h1{
  padding-top: 25px;
  
}
button{
    
    padding: 50px;
   
}

